Repository naoji3x/vroid-game-template: changes, and which lefthook commands are due for each by the changed paths.
All: format-markdown, lint-markdown, format-js, lint-js

lefthook.yml:

# Git hooks for development workflow
pre-commit:
  parallel: true
  commands:
    format-markdown:
      glob: '*.md'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    lint-markdown:
      glob: '*.md'
      run: npx markdownlint {staged_files}

    lint-changelog:
      files: git diff --cached --name-only
      glob: 'CHANGELOG.md'
      run: |
        if [ -n "{files}" ]; then
          npx markdownlint --config .markdownlint-changelog.json {files}
          node scripts/check-changelog-format.mjs
        fi

    format-js:
      glob: '*.{js,mjs,ts,tsx,json}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

    lint-js:
      glob: '*.{js,mjs,ts,tsx}'
      run: npx eslint {staged_files} --max-warnings 0

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit $1

feat: add changelog format check
  CHANGELOG.md
  lefthook.yml
  package.json
Due: format-markdown, lint-markdown, format-js

feat: add csharp formatter & linter to lefthook
  .config/dotnet-tools.json
  .csharpierignore
  .editorconfig
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  Assets/Common/Editor/Base/Build/BakeBeforeBuild.cs
  Assets/Common/Editor/Base/Setup/ProjectSetupGuide.cs
  Assets/Common/Editor/Base/Setup/TmpFontReassignUtility.cs
  Assets/Common/Editor/Base/Setup/VrmReimportUtility.cs
  Assets/Common/Runtime/Scripts/Base/Views/Agent/AnimationBridge.cs
  Assets/Common/Runtime/Scripts/Base/Views/Agent/AnimationEventReceiver.cs
  Assets/Common/Runtime/Scripts/Base/Views/Agent/NavMeshAgentController.cs
  Assets/Common/Runtime/Scripts/Base/Views/CameraAdjuster.cs
  Assets/packages.config
  Directory.Build.props
  global.json
  lefthook.yml
  package.json
  stylecop.json
Due: format-js

feat: add csharp linter
  .editorconfig
  .gitignore
  Assets/Common/Runtime/Scripts/Base/Views/Agent/AnimationEventReceiver.cs
  Assets/Common/Runtime/Scripts/Base/Views/CameraAdjuster.cs
  Assets/packages.config
  Directory.Build.props
  Directory.Packages.props
  Lint.csproj
  lefthook.yml
  package.json
  stylecop.json
Due: format-js

feat: fix lefthook
  .editorconfig
  .vscode/settings.json
  Assets/Common/Editor/Base/Setup/ProjectSetupGuide.cs
  Assets/Common/Runtime/Scripts/Base/Views/Agent/AnimationBridge.cs
  Assets/Common/Runtime/Scripts/Base/Views/CameraAdjuster.cs
  Directory.Build.props
  Lint.csproj
  lefthook.yml
  package.json
Due: format-js

docs: revise CONTRIBUTING.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  lefthook.yml
Due: format-markdown, lint-markdown

chore: fix markdownlint settings
  .markdownlint-changelog.json
  .markdownlint.json
Due: format-js

chore(release): v0.1.5
  CHANGELOG.md
  ProjectSettings/ProjectSettings.asset
Due: format-markdown, lint-markdown

build: remove husky remnants, switch fully to lefthook
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

feat: add csc.rsp
  .vscode/settings.json
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Views/AnimationBridge.cs
  Assets/TinyShrine/VRoid/Runetime/Features/Cameras/Controllers/CameraAdjuster.cs
  Assets/csc.rsp
  Assets/csc.rsp.meta
  Directory.Build.props
Due: format-js

fix: change Vroid to VRoid and fix input actions
  .gitignore
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/InputSystem/PlayerInputActions.inputactions
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Prefabs/Agents.meta
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Prefabs/NavMeshVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Prefabs/NavMeshVRoidArmature.prefab.meta
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Prefabs/ThirdPersonVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Prefabs/ThirdPersonVRoidArmature.prefab.meta
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents/SampleNavMeshVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents/SampleNavMeshVRoidArmature.prefab.meta
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents/SampleThirdPersonVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents/SampleThirdPersonVRoidArmature.prefab.meta
  Assets/TinyShrine/VRoid/Sample/Scenes/NavMeshSample.unity
  Assets/TinyShrine/VRoid/Sample/Scenes/ThirdPersonSample.unity
Due: none

refactor: add AnimationEventBridge and comments
  .editorconfig
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Controllers/NavMeshAgentController.cs
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Prefabs/NavMeshVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Prefabs/ThirdPersonVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Views/AnimationBridge.cs
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Views/AnimationEventBridge.cs
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Views/AnimationEventBridge.cs.meta
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Views/AnimationEventReceiver.cs
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Views/AnimatorBridge.cs
  Assets/TinyShrine/VRoid/Runetime/Features/Agents/Views/AnimatorBridge.cs.meta
Due: none

fix: Runetime to Runtime
  Assets/TinyShrine/VRoid/Runtime.meta
  Assets/TinyShrine/VRoid/Runtime/Features.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers/VroidLocomotion.overrideController
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers/VroidLocomotion.overrideController.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers/VroidLocomotionBridge.controller
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers/VroidLocomotionBridge.controller.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Controllers.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Controllers/NavMeshAgentController.cs
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Controllers/NavMeshAgentController.cs.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/InputSystem.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/InputSystem/PlayerInputActions.inputactions
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/InputSystem/PlayerInputActions.inputactions.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Prefabs.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Prefabs/NavMeshVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Prefabs/NavMeshVRoidArmature.prefab.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Prefabs/ThirdPersonVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Prefabs/ThirdPersonVRoidArmature.prefab.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Views.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Views/AnimationEventBridge.cs
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Views/AnimationEventBridge.cs.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Views/AnimationEventReceiver.cs
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Views/AnimationEventReceiver.cs.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Views/AnimatorBridge.cs
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/Views/AnimatorBridge.cs.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Cameras.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Cameras/Controllers.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Cameras/Controllers/CameraAdjuster.cs
  Assets/TinyShrine/VRoid/Runtime/Features/Cameras/Controllers/CameraAdjuster.cs.meta
  Assets/TinyShrine/VRoid/Runtime/TinyShrine.VRoid.Runtime.asmdef
  Assets/TinyShrine/VRoid/Runtime/TinyShrine.VRoid.Runtime.asmdef.meta
Due: none

docs: fix samples and add docs
  .github/prompts/generate-source-code-guilde.prompt.md
  Assets/Common.meta
  Assets/Common/Editor.meta
  Assets/Common/Editor/Base.meta
  Assets/Common/Editor/Base/Setup.meta
  Assets/Common/Editor/Base/Setup/ProjectSetupGuide.cs
  Assets/Common/Editor/Base/Setup/ProjectSetupGuide.cs.meta
  Assets/Common/Runtime.meta
  Assets/Common/Runtime/Scripts.meta
  Assets/Common/Runtime/Scripts/Base.meta
  Assets/Common/Runtime/Scripts/Base/Views.meta
  Assets/Common/Runtime/Scripts/Base/Views/Agent.meta
  Assets/Common/Runtime/Scripts/Base/Views/Agent/AnimationBridge.cs
  Assets/Common/Runtime/Scripts/Base/Views/Agent/AnimationBridge.cs.meta
  Assets/Common/Runtime/Scripts/Base/Views/CameraAdjuster.cs
  Assets/Common/Runtime/Scripts/Base/Views/CameraAdjuster.cs.meta
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents.meta
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents/SampleNavMeshVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents/SampleNavMeshVRoidArmature.prefab.meta
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents/SampleThirdPersonVRoidArmature.prefab
  Assets/TinyShrine/VRoid/Sample/Prefabs/Agents/SampleThirdPersonVRoidArmature.prefab.meta
  Assets/TinyShrine/VRoid/Sample/Scenes/NavMeshSample.unity
  Assets/TinyShrine/VRoid/Sample/Scenes/ThirdPersonSample.unity
  CONTRIBUTING.md
  DEVELOPMENT.md
  DEVLOG.md
  ProjectSettings/ProjectSettings.asset
  README.md
  package.json
Due: format-markdown, lint-markdown, format-js

chore(release): v1.0.0
  CHANGELOG.md
Due: format-markdown, lint-markdown

build: adjust print width and end of line
  .csharpierrc.json
  .editorconfig
  .gitignore
Due: format-js

chore: remove case-variant files and keep canonical asset names
  Assets/TinyShrine/VRoid/Editor/Tools/VrmReimportUtility.cs
  Assets/TinyShrine/VRoid/Editor/Tools/VrmReimportUtility.cs.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers/VroidLocomotion.overrideController
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers/VroidLocomotion.overrideController.meta
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers/VroidLocomotionBridge.controller
  Assets/TinyShrine/VRoid/Runtime/Features/Agents/AnimatorControllers/VroidLocomotionBridge.controller.meta
Due: none

build: add config and instruction
  .editorconfig
  .github/instructions/csharp-unity.instructions.md
Due: format-markdown, lint-markdown

chore(release): v1.1.0
  CHANGELOG.md
  ProjectSettings/ProjectSettings.asset
Due: format-markdown, lint-markdown

build: update to 6000.0.58f2
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/ProjectVersion.txt
  ProjectSettings/ShaderGraphSettings.asset
Due: format-js

build: update packages
  .gitignore
  .vscode/settings.json
  Packages/manifest.json
  Packages/packages-lock.json
Due: format-js

chore(release): v1.1.1
  CHANGELOG.md
  ProjectSettings/ProjectSettings.asset
Due: format-markdown, lint-markdown

fix: lefthook settings
  lefthook.yml
Due: none

chore(release): v1.1.2
  CHANGELOG.md
  ProjectSettings/ProjectSettings.asset
Due: format-markdown, lint-markdown

fix: update .NET SDK version to 9.0.200
  global.json
Due: format-js

chore(release): v1.1.3
  CHANGELOG.md
  ProjectSettings/ProjectSettings.asset
Due: format-markdown, lint-markdown

feat: update github actions node version
  .github/workflows/ci.yml
  .github/workflows/pr-on-release.yml
  .github/workflows/release-archive.yml
Due: none

chore(release): v1.1.4
  CHANGELOG.md
  ProjectSettings/ProjectSettings.asset
Due: format-markdown, lint-markdown

feat: actions/checkout等のバージョンアップ
  .github/workflows/ci.yml
  .github/workflows/pr-on-release.yml
  .github/workflows/release-archive.yml
Due: none

chore(release): v1.1.5
  CHANGELOG.md
  ProjectSettings/ProjectSettings.asset
Due: format-markdown, lint-markdown

build: update to unity 6.3LTS
  Assets/Settings/UniversalRenderPipelineGlobalSettings.asset
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/ProjectVersion.txt
Due: format-js

chore(release): v1.1.6
  CHANGELOG.md
  ProjectSettings/ProjectSettings.asset
Due: format-markdown, lint-markdown

chore: update assets
  Assets/Settings/PC_RPAsset.asset
  ProjectSettings/GraphicsSettings.asset
Due: none
